body {
    background:#000;
    color:#151515;
    padding:30px 0;
}

@media (max-width:991px) {
    .container {
        font-family:'Roboto', sans-serif;
    }
}

@media (min-width:992px) {
    .container {
        padding:0 30px;
        font-family:'Roboto', sans-serif;
    }
}

.navbar {
    font-size:24px;
    font-family:'Roboto', serif;
    background-color:#000;
    color:#c7c7c7;
}

.mitchdowney {
    font-size:24px;
    color:#c7c7c7;
    margin:0 0 20px 0;
}

.mitchdowney-contact {
    float:right;
    padding:0 5px;
    font-size:24px;
    color:#c7c7c7;
}

@media (max-width:991px) {
    .sidebar {
        color:#c7c7c7;
        border-radius:10px;
    }
}

@media (min-width:992px) {
    .sidebar {
        color:#c7c7c7;
        border-radius:10px;
    }
}

.sidebar-picture {
    text-align:center;
    border-radius:10px;
}

.sidebar-picture img {
    max-width:150px;
    border-radius:10px;
}

.sidebar-headline {
    font-size:24px;
    font-weight:bold;
}

.sidebar-title {
    font-size:20px;
    font-family:'Roboto', serif;
}

.sidebar-text {
    font-size:16px;
}

.sidebar-subtext {
    margin:0 0 0 15px;
    font-style:italic;
    font-size:16px;
}

@media (max-width:991px) {
    .main {
        color:#c7c7c7;
    }
}

@media (min-width:992px) {
    .main {
        padding:0 20px;
        color:#151515;
    }
}

.main-project-inner {
}

@media (max-width:991px) {
    .main-project-first {
        border-top:1px dotted #454545;
        font-size:44px;
        color:#c7c7c7;
        font-family:'Roboto', serif;
    }
}

@media (min-width:992px) {
    .main-project-first {
        margin:-5px 0 10px 0;
        font-size:44px;
        color:#c7c7c7;
        font-family:'Roboto', serif;
    }
}

@media (max-width:991px) {
    .main-project {
        font-size:44px;
        border-top:1px dotted #454545;
        color:#c7c7c7;
        font-family:'Roboto', serif;
    }
}

@media (min-width:992px) {
    .main-project {
        margin:0 0 10px 0;
        font-size:44px;
        color:#c7c7c7;
        font-family:'Roboto', serif;
    }
}

.color-everyvote:hover {
    color:#D54040;
}

.color-partystarter:hover {
    color:#6C9F20;
}

.color-earthhq:hover {
    color:#006B8E;
}

.color-advantage-act:hover {
    color:#B56400;
}

.color-top-video-timeline:hover {
    color:#9F2048;
}

.indent-everyvote {
    margin:0 0 0 236px;
}

.indent-partystarter {
    margin:0 0 0 190px;
}

.indent-earthhq {
    margin:0 0 0 271px;
}

.indent-advantage-act {
    margin:0 0 0 129px;
}

.indent-top-video-timeline {
    margin:0 0 0 50px;
}