body {
    background:#000;
    color:#c7c7c7;
    padding:15px 0;
    font-family:'Roboto', sans-serif;
}

@media (max-width:991px) {
    .md-container {
        font-family:'Roboto', sans-serif;
        padding:0 5px;
    }
}

@media (min-width:992px) {
    .md-container {
        padding:0 5px;
        font-family:'Roboto', sans-serif;
        margin-right:auto;
        margin-left:auto;
        max-width:1160px
    }
}

.header {
    border-bottom:1px dotted #454545;
}

.mitchdowney a {
    margin:0 0 15px 0;
    font-size:24px;
    font-weight:bold;
    color:#c7c7c7;
}

.mitchdowney a:hover {
    font-weight:bold;
    color:#eee;
    text-decoration:none;
}

@media (max-width:559px) {
    .mitchdowney-navbar {
        float:left;
        clear:left;
        margin:0 0 15px 0;
        font-size:24px;
        font-weight:bold;
        color:#c7c7c7;
        text-align:left;
    }
}

@media (min-width:560px) {
    .mitchdowney-navbar {
        float:right;
        margin:0 0 15px 0;
        font-size:24px;
        font-weight:bold;
        color:#c7c7c7;
        text-align:right;
    }
}

@media (max-width:991px) {
    .sidebar {
        color:#c7c7c7;
        padding:0 15px;
    }
}

@media (min-width:992px) {
    .sidebar {
        color:#c7c7c7;
    }
}

.sidebar hr {
    margin:10px 0 20px 0;
    border-top:1px dotted #454545;
}

.sidebar-picture {
    text-align:center;
    border-radius:10px;
}

.sidebar-picture img {
    max-width:150px;
    border-radius:10px;
}

.sidebar-headline {
    font-size:24px;
    padding:20px 0 0 0;
}

.sidebar-title {
    font-size:20px;
}

.sidebar-text {
    font-size:16px;
}

.sidebar-text ul {
    padding:0 0 0 30px;
}

.sidebar-subtext {
    margin:0 0 0 15px;
    font-style:italic;
    font-size:16px;
}

@media (max-width:991px) {
    .main {
    }
}

@media (min-width:992px) {
    .main {
        padding:0 15px;
    }
}

.main hr {
    margin:10px 0 20px 0;
    border-top:1px dotted #454545;
}

.main-headline {
    font-size:32px;
    margin:15px 0 0 0;
}

.main-sub-headline {
    font-size:28px;
}

.main-title {
    font-size:20px;
}

.main-text {
    font-size:16px;
}

.main-prev {
    float:right;
    margin:5px 15px 15px 15px;
    font-size:20px;
}

.main-next {
    float:right;
    margin:5px 0 15px 15px;
    font-size:20px;
}

.main-img {
    clear:both;
    margin:15px 0;
}

@media (max-width:991px) {
    .main-project-first {
        padding:15px 0;
        font-size:32px;
        border-top:1px dotted #454545;
        border-bottom:1px dotted #454545;
        color:#c7c7c7;
        font-family:'Roboto', serif;
    }
}

@media (min-width:992px) {
    .main-project-first {
        padding:15px 0;
        font-size:32px;
        color:#c7c7c7;
        font-family:'Roboto', serif;
        border-bottom:1px dotted #454545;
    }
}

@media (max-width:991px) {
    .main-project {
        padding:15px 0;
        font-size:32px;
        border-bottom:1px dotted #454545;
        color:#c7c7c7;
        font-family:'Roboto', serif;
    }
}

@media (min-width:992px) {
    .main-project {
        padding:15px 0;
        font-size:32px;
        color:#c7c7c7;
        font-family:'Roboto', serif;
        border-bottom:1px dotted #454545;
    }
}

@media (max-width:559px) {
    .main-project-icon {
        display:none;
    }
}

@media (min-width:560px) {
    .main-project-icon {
        float:right;
        clear:right;
        margin:10px 0;
    }
}

.color-everyvote {
    color:#D54040;
}

.color-everyvote-hover:hover {
    color:#D54040;
}

.color-partystarter {
    color:#006B8E;
}

.color-partystarter-hover:hover {
    color:#006B8E;
}

.color-earthhq {
    color:#6C9F20;
}

.color-earthhq-hover:hover {
    color:#6C9F20;
}

.color-advantage-act {
    color:#9F2048;
}

.color-advantage-act-hover:hover {
    color:#9F2048;
}

.color-top-video-timeline {
    color:#B56400;
}

.color-top-video-timeline-hover:hover {
    color:#B56400;
}

.color-twitter {
    color:#00acee;
}

.color-twitter-hover:hover {
    color:#00acee;
}

.color-github {
    color:#171515;
}

.color-github-hover:hover {
    color:#171515;
}

.color-facebook {
    color:#3b5998;
}

.color-facebook-hover:hover {
    color:#3b5998;
}

.color-linkedin {
    color:#0e76a8;
}

.color-linkedin-hover:hover {
    color:#0e76a8;
}

.color-contact {
    color:#454545;
}

.color-contact-hover:hover {
    color:#454545;
}