{% extends "base.html" %}

{% block main-div %}

  <div class="col-md-9">

    {% for projectLink in projectLinks %}
      <div class= {% if forloop.first %}
      "main-project-first">
      {% else %}
      "main-project">
      {% endif %}
        <a href="{{ projectLink.first_item_url }}" class="color-{{ projectLink.name.split|join:"-"|lower }}-hover js-{{ projectLink.id }}" >
          <div class="main-project-icon">
            <i class="fa {{ projectLink.font_awesome_class }} main-project-icon"></i>
          </div>
          <div class="main-project-title">
            {{ projectLink.name }} 
          </div>
          <div class="main-project-text">
            {{ projectLink.about }}
          </div>
          <div class="main-project-text">
            <em><small>Updated: {{ projectLink.first_item_datetime|date:"F j Y" }}</small></em>
          </div>
        </a>
      </div>
    {% endfor %}
    
    <div class="clearfix">
    </div>

  </div><!-- /.col-md-9 main  -->
  
{% endblock %}

{% block left-side-div %}

<div class="col-md-3">
  <div class="sidebar-no-overflow">
    <div class="sidebar-title">
      <span style="color:#B56400">UX Design</span>
    </div>
    
    <div class="sidebar-text">
      Axure, Fireworks, Illustrator, Prototypes, Wireframes, HCI, Competitive Analysis, Site Maps, Personas, Usability Testing, Responsive Design, Mobile Design
    </div><br />
    
    <div class="sidebar-title">
      <span style="color:#006B8E;">Web Development</span>
    </div>
    
    <div class="sidebar-text">
      HTML/CSS, Javascript, jQuery, Bootstrap, Python, Django, PHP, MySQL, Git
    </div><br />
    
    <div class="sidebar-title">
      <span style="color:#D54040;">Education</span>
    </div>
    
    <div class="sidebar-text">
      Northern Illinois University
    </div>
    
    <div class="sidebar-subtext">
      M.S.Ed. Instructional Technology
    </div>
    
    <div class="sidebar-text">
      University of Illinois
    </div>
    
    <div class="sidebar-subtext">
      B.A. English & Philosophy
    </div><br />
    
    <div class="sidebar-title">
      <span style="color:#6C9F20;">Projects</span>
    </div>
    
    <div class="sidebar-text">
      Educational Software<br />
      Free/Open Source Software<br />
      Productivity Software<br />
      Social Networks
    </div>

  </div><!-- /.sidebar-no-overflow -->
</div><!-- /.col-md-3 -->

{% endblock %}

{% block right-side-div %}

{% endblock %}

{% block footer %}

  <div class="col-xs-12">
    <div class="md-footer">
    </div>
  </div>

{% endblock %}<!-- /footer -->