{% extends "base.html" %}

{% block title %}{{ item.project.name }} - {{ item.name }} - {{ item.datetime }}{% endblock %}

{% block main-div %}
  
  <div class="col-md-9">

    <div class="main">
    
    <div class="main-top">
      {% with item.get_previous_by_datetime as next %}
        {% if next %}
          <div class="main-next">
            <a href="{{ next.get_absolute_url }}">Next ></a>
          </div>
        {% else %}
          <div class="main-next">
            <a>Next ></a>
          </div>
        {% endif %}
      {% endwith %}

      {% with item.get_next_by_datetime as prev %}
        {% if prev %}
          <div class="main-prev">
            <a href="{{ prev.get_absolute_url }}">< Prev</a>
          </div>
        {% else %}
          <div class="main-prev">
            <a>< Prev</a>
          </div>
        {% endif %}

      {% endwith %}
          
      <div class="main-headline color-{{ item.project.name.split|join:'-'|lower }}">
        {{ item.project.name }} &nbsp <i class="fa {{ item.project.font_awesome_class }} color-{{ item.name }}"></i>
      </div>
      
      <div class="main-sub-headline">
        {{ item.name }}
      </div>

      <div class="main-info">
        <big><strong>Date:</strong> {{ item.datetime|date:"F j Y" }}</big>
      </div>

      <div class="main-info">
        <strong>Item Type:</strong>
        {% for type in item.types.all %}
          {% if forloop.last %}
            {{ type.name }}
          {% else %}
            {{ type.name }},
          {% endif %}
        {% endfor %}
      </div>

      <div class="main-info">
        <strong>Made With:</strong>
        {% for tool in item.tools.all %}
          {% if forloop.last %}
            {{ tool.name }}
          {% else %}
            {{ tool.name }},
          {% endif %}
        {% endfor %}
      </div>
      
      <div class="main-info">
        <strong>License:</strong> <a href="{{ item.project.license_link }}">{{ item.project.license }}</a>
      </div>
      
      <div class="main-info">
        <strong><a href="{{ item.link }}" target="_blank">{{ item.link_text }}</a></strong>
      </div>
      
      </div><!-- /.main-top -->
      
      <div class="main-bottom">
        <div class="main-img">
          <a href="{{ item.image.url }}"><img class="img-responsive" src="{{ item.image.url }}"></a>
        </div>
      </div><!-- /.main-bottom -->
    </div><!-- /.main -->
  </div><!-- /.col-md-9 -->
  
{% endblock %}

{% block right-side-div %}

  <div class="col-md-3">
    <div class="sidebar-headline">
      Archive
    </div>
    <div class="sidebar">


      {% regroup all_items by datetime|date:"F j Y" as items_by_datetime %}
      
      {% for item in items_by_datetime reversed %}
        <div class="sidebar-title">
          {{ item.grouper }}
        </div>
        <div class="sidebar-item">
          {% for i in item.list reversed %}
            {% ifequal i current_item %}
              <a href="/items/{{ i.id }}" style="color:#eee;">{{ i.name }}</a><br />
            {% else %}
              <a href="/items/{{ i.id }}">{{ i.name }}</a><br />
            {% endifequal %}
          {% endfor %}
        </div>
      {% endfor %}
      
    </div><!-- /.sidebar -->
    
  </div><!-- /.col-md-3 -->
  
{% endblock %}

{% block footer %}

  <div class="col-xs-12">
    <div class="md-footer">
    </div>
  </div>

{% endblock %}<!-- /footer -->